# cache do Python
__pycache__/
*.pyc
*.pyo

*.log
frames/

venv/
.env

**/proto/pb/*
!**/proto/pb/
!**/proto/pb/.gitkeep


proto/pb/


*.sqlite3


.DS_Store
Thumbs.db


build/
dist/
*.egg-info/

.vscode/